# Caminhos obrigatorios
SFM_PATH=C:\MeshroomCache\CameraInit\hash_do_nó\cameraInit.sfm
IR_PATH=C:\Caminho\Para\Suas\Imagens\IR
OUT_PATH=C:\Caminho\Para\Saida\IR-viewid
RESIZED_PATH=C:\Caminho\Para\Saida\IR-resized
CSV_PATH=C:\Caminho\Para\Saida\mapa_viewid.csv

# Configuracoes
EXTENSAO_SAIDA=.png
FORCAR_SOBRESCRITA=false